* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #020024;
    background: linear-gradient(1deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

nav {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    position: fixed;
}

.navbar-brand {
    margin-left: 25px;
    font-family: "Aladin", system-ui;
    font-size: 33px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-brand:hover {
    transform: scale(1.1);
    color: #4AD97C !important;
}

.nav-link {
    margin-right: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    transform: scale(1.1);
    color: #ffcc00 !important;
}

.carousel-caption {
    background-color: black;
    opacity: 0.8;
    border-radius: 10px;
    padding: 10px;
}

.container-mais-comprados {
    gap: 80px;
}

.card1 {
    position: relative;
    width: 500px;
    height: 400px;
    background-image: url('https://www.francecomfort.com/l/en/library/download/urn:uuid:960470f0-7796-426e-a1e3-678ecca1283a/st.+tropez+102+middellandse+zee+kust+vakantie+frankrijk+luxe+villa+provence+cote+d%27azur.jpg?scaleType=3&width=1600&height=1000');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card1:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.card__content1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card__title1 {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.card__description1 {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}

.card1:hover .card__content1 {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
}

.card2 {
    position: relative;
    width: 500px;
    height: 400px;
    background-image: url('https://astarfuture.co.uk/images/cities/Madrid.JPG');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card2:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.card__content2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card__title2 {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.card__description2 {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}

.card2:hover .card__content2 {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
}

.card3 {
    position: relative;
    width: 500px;
    height: 400px;
    background-image: url('https://blog.123milhas.com/wp-content/uploads/2023/03/turismo-em-milao-guia-de-viagem-cidade-conexao123.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card3:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.card__content3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card__title3 {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.card__description3 {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}

.card3:hover .card__content3 {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
}

.card_prices1,
.card_prices2,
.card_prices3 {
    margin-top: 15px;
    font-weight: bold;
}

.card_btn1,
.card_btn2,
.card_btn3 {
    background-color: #3BACD9;
    border: none;
    width: 93px;
    height: 44px;
    border-radius: 3px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.cards-int {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;      
    gap: 20px;                   
    padding: 20px;
}

.card-int1 {
    margin: 35px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 400px;
    height: 570px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-align: center;
}

.card-int1>img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-int1>h1 {
    padding-top: 25px;
    font-size: 28px;
}

.card-int1>p{
    font-size: 18px;
    padding: 20px 20px;
}

.int-btn {
    font-size: 17px;
    font-weight: bold;
    padding: 10px 50px;
    border: none;
    background-color: #1389eb;
    border-radius: 10px;
}

.task {
    position: relative;
    color: #2e2e2f;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    margin-bottom: 1rem;
    border: 3px dashed transparent;
    max-width: 350px;
}

.task:hover {
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-color: rgba(162, 179, 207, 0.2) !important;
}

.task p {
    font-size: 15px;
    margin: 1.2rem 0;
}

.tag {
    border-radius: 100px;
    padding: 4px 13px;
    font-size: 12px;
    color: #ffffff;
    background-color: #1389eb;
}

.tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    background: transparent;
    border: 0;
    color: #c4cad3;
    font-size: 17px;
}

.options svg {
    fill: #9fa4aa;
    width: 20px;
}

.stats {
    position: relative;
    width: 100%;
    color: #9fa4aa;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats div {
    margin-right: 1rem;
    height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.stats svg {
    margin-right: 5px;
    height: 100%;
    stroke: #9fa4aa;
}

.viewer span {
    height: 30px;
    width: 30px;
    background-color: rgb(28, 117, 219);
    margin-right: -10px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: grid;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding: 2px;
}

.viewer span svg {
    stroke: #fff;
}




footer {
    padding: 100px;
    background-color: #3BACD9;
    margin-top: 90px;
}

footer a {
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

footer a:hover {
    transform: scale(1.1);
    color: #ffcc00 !important;
}

footer .navbar-brand {
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 56px;
        margin-left: 10px;
    }

    .nav-link {
        margin-right: 5px;
        font-size: 19px;
    }

    .card1,
    .card2,
    .card3 {
        width: 90%;
        height: 250px;
    }

    .card__content1,
    .card__content2,
    .card__content3 {
        padding: 10px;
    }

    .card__title1,
    .card__title2,
    .card__title3 {
        font-size: 18px;
    }

    .card__description1,
    .card__description2,
    .card__description3 {
        font-size: 12px;
    }

    .cards-int {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .card-int1 {
        width: 90%;
        height: auto;
    }

    .card-int1 > h1 {
        font-size: 22px;
    }

    .card-int1 > p {
        font-size: 16px;
    }

    .int-btn {
        padding: 10px 30px;
        font-size: 15px;
    }

    .task {
        width: 90%;
    }

    footer {
        padding: 40px 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    footer .navbar-brand {
        margin-left: 0;
        font-size: 22px;
    }

    footer a {
        display: block;
        margin: 5px 0;
        font-size: 16px;
    }
}
